{% extends 'oc_projet_13/base.html' %}
{% load widget_tweaks %}

{% block body %}
    <section id="login">
        <div class="row mt-4">
            <div class="col-lg-8 mx-auto">
                <div class="card border-secondary">
                    <div class="card-header">Se connecter</div>
                    <div class="card-body text-secondary">
                        {% if form.errors %}
                            <p>Votre nom d'utilisateur et votre mot de passe ne
                                correspondent pas. Veuillez réessayer.</p>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Votre compte n'a pas accès à cette page. Pour
                                    continuer, connectez-vous avec un compte
                                    ayant accès.</p>
                            {% else %}
                                <p>Veuillez vous connecter pour voir cette
                                    page.</p>
                            {% endif %}
                        {% endif %}

                        <form method="post" action="{% url 'session:login' %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                {{ form.username|add_label_class:"col-sm-3 col-form-label" }}
                                <div class="col-sm-9">
                                    {{ form.username|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ form.password|add_label_class:"col-sm-3 col-form-label" }}
                                <div class="col-sm-9">
                                    {{ form.password|add_class:"form-control" }}
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit"
                                            class="btn btn-primary">Se
                                        connecter
                                    </button>
                                    <input type="hidden" name="next"
                                           value="{{ next }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
