{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'catalogue/base.css' %}">
</head>
<body>

{% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         data-autohide="false"
         style="top:65px; left: 10px; position: absolute; z-index: 1;">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Information</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
{% endfor %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Billetterie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'session:logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ventes:commandes' %}">
                        Mes Commandes
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'ventes:commandes-turnover' %}">
                            Les revenues
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'admin:index' %}">
                            Administration
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link"
                       data-target="#login"
                       href="{% url 'session:login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       data-target="#signup"
                       href="{% url 'session:signup' %}">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="badge badge-info" id="total-cart-count"
                          data-url-submit-button="{% url 'ventes:commande' %}"></span>
                    Panier
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}
    {% endblock %}

    <hr class="mb-0">
    <div class="row mx-0 px-4 pt-3 background-grey">
        <div class="col-3">
            <h6 class="text-uppercase">Réseaux sociaux</h6>
            <a href="https://github.com/ivan-fr/oc_projet_13"
               target="_blank">
                <i class="fab fa-github"></i>
                Lien github
            </a>
        </div>
    </div>

    <div class="row mx-0 px-4 pb-3 background-grey">
        <div class="col-8">
            {% now 'Y' %} © Tous droits réservés.
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/SimpleCart.js' %}"></script>

<script>
    jQuery(document).ready(function ($) {
        $('#total-cart-count').simpleCart();
        $('.toast').toast('show');
    });
</script>

{% block javascript %}
{% endblock %}
</body>
</html>