{% extends "ventes/commandes_layout.html" %}

{% block class_current_year %}
active
{% endblock %}

{% block layout %}

    {% if previous_year %}
        <a class="badge badge-primary"
           href="{% url 'ventes:commandes-year' previous_year|date:"Y" %}">< {{ previous_year|date:"Y" }}</a>
    {% endif %}
    {% if next_year %}
        <a class="badge badge-primary"
           href="{% url 'ventes:commandes-year' next_year|date:"Y" %}">{{ next_year|date:"Y" }} ></a>
    {% endif %}

    <ul class="list-group">
        {% for object in object_list %}
            {% include 'ventes/patron_commande.html' with object=object %}
        {% endfor %}
    </ul>

    <div class="card mt-3" style="width: 18rem">
        <div class="card-header">
            Archive
        </div>
        <ul class="list-group list-group-flush">
            {% for date in date_list %}
                <li class="list-group-item">
                    <a href="{% url 'ventes:commandes-month' date|date:"Y" date|date:"m" %}">{{ date|date:"F Y" }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
