{% extends 'oc_projet_13/base.html' %}
{% load catalogue_tags %}


{% block body %}
    <div class="card border-danger mt-4" id="commande">
        <div class="card-header">
            <div class="d-flex bd-highlight mb-0">
                <div class="mr-auto bd-highlight">Votre commande
                    du {{ object.date|date:"l d F H:i"|capfirst }}</div>
                <div class="bd-highlight">
                    <button class="btn printme"><i
                            class="fas fa-print"></i></button>
                </div>
            </div>
        </div>

        <div class="card-body">
            {% if not object.enabled %}
                {% if object.too_late_accepted_payment %}
                    <div class="alert alert-warning" role="alert">
                        Vous avez payé votre commande en retard !<br>
                        Heureusement nous avons pu enregistrer votre place.<br>
                        La prochaine fois veillée à respecter les délais.
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Vous avez payé votre commande en retard !<br>
                        Malheureusement nous n'avons pas pu enregistrer votre
                        place (manque de place ou l'énervement n'est plus
                        disponible).<br>
                        Veuillez nous contacter pour un remboursement.
                    </div>
                {% endif %}
            {% elif not object.payment_status %}
                <div class="alert alert-info" role="alert">
                    Vos places ont été réservé ! <br>
                    Vous avez 20 minutes pour payer votre commande.
                </div>
            {% endif %}

            <ul class="list-group">
                {% for through in object.from_commande.all %}
                    <li class="list-group-item">{{ through.quantity }}X
                        <u>{{ through.to_meeting.title }}</u>
                        le {{ through.date_meeting|date:"d/m/Y H:i" }}
                        - {% multiply through.quantity through.to_meeting.price %}
                        <i class="fas fa-euro-sign"></i>
                    </li>
                    {% if through.qrcode %}
                        <li class="list-group-item list-group-item-info">
                            <img src="{{ through.qrcode.url }}" width="200px"
                                 height="200px" alt="qrcode">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="mt-3">Montant total
                : {{ object.total_price|twodigitcomma }} <i class="fas fa-euro-sign"></i> HT
                => {{ ttc|twodigitcomma }} <i class="fas fa-euro-sign"></i> TTC
                <div class="badge badge-info">+ 2.10%</div>
            </div>
            {{ paypal_form.render }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        jQuery(function ($) {
            {% if from_accepted_command %}
                localStorage.setItem("V3simpleCart", JSON.stringify([]));
            {% endif %}

            $('#commande .printme').click(function () {
                window.print();
            });
        });
    </script>
{% endblock %}
