{% extends 'oc_projet_13/base.html' %}
{% load widget_tweaks %}
{% load catalogue_tags %}

{% block body %}
    <div class="row mt-4">
        <div class="col-12">
            <div class="card border-secondary">
                <div class="card-header">Passer commande</div>
                <div class="card-body"
                     id="formset_commande_container"
                     data-commande-formset-url="{% url 'ventes:commande-formset' %}">

                    <form action="{% url 'ventes:commande-formset' %}"
                          method="post"
                          id="formset_commande">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <input type="hidden" name="form-sign"
                               value="{{ sign }}"
                               id="form-sign">
                        {% for form in formset %}
                            {% if form.errors %}
                                {{ form.errors }}
                            {% endif %}
                            {{ form.id.as_hidden }}
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    {{ form.title.errors }}
                                    {{ form.title.label_tag }}
                                    {{ form.title|add_class:"form-control" }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ form.date.errors }}
                                    {{ form.date.label_tag }}
                                    {{ form.date|add_class:"form-control" }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ form.quantity.errors }}
                                    {{ form.quantity.label_tag }}
                                    {{ form.quantity|add_class:"form-control quantity-meeting" }}
                                </div>
                                <div class="form-group col-md-auto">
                                    {% for key, value in meetings.items %}
                                        {% if key == form.id.value|stringformat:"i" %}
                                            <span class="meeting-price">
                                                {% multiply meetings|get_dict_attr:key form.quantity.value %}
                                            </span>
                                            <span class="single-meeting-price"
                                                  data-single-meeting-price="{{ meetings|get_dict_attr:key }}"></span>
                                            <i class="fas fa-euro-sign"></i>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        {% endfor %}

                        <div class="alert alert-info" role="alert">
                            Montant total : <span class="total-quantity">0</span> <i
                                class="fas fa-euro-sign"></i> HT
                            => <span class="total-quantity-ttc">0</span> <i
                                class="fas fa-euro-sign"></i> TTC
                            <div class="badge badge-info">+ 2.10 %</div>
                        </div>

                        <input type="submit" class="btn btn-primary"
                               value="Passer commande"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        jQuery(function ($) {

            function total_price_function() {
                let total_price = 0;
                $('span.meeting-price').each(
                    function () {
                        total_price += parseFloat($(this).text());
                    }
                );
                $('div.alert .total-quantity').text(total_price.toFixed(2));
                $('div.alert .total-quantity-ttc').text((total_price * 1.021).toFixed(2));
            }

            total_price_function();

            $('input.quantity-meeting').on('change', function (e) {
                e.preventDefault();

                if ($(this).val() < 1) {
                    $(this).val(1);
                } else if ($(this).val() > 9) {
                    $(this).val(9);
                }

                let div_price = $(this).parent().parent().find('.form-group:last-child');
                div_price.find('.meeting-price').text((parseFloat($(this).val() *
                    parseFloat(div_price.find('.single-meeting-price').attr('data-single-meeting-price')))).toFixed(2));
                total_price_function();
            })
        });
    </script>
{% endblock %}
