{% extends 'catalogue/index.html' %}
{% load catalogue_tags %}

{% block index_catalogue %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for ancestor in breadcrumb %}
                        <li class="breadcrumb-item {% if forloop.last %} active {% endif %}">
                            <a href="{% url 'catalogue:show-eventtype' ancestor.pk %}">{{ ancestor.label }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4" align="center">
            {% if object.photo %}
                <img src="{{ object.photo.url }}" alt="photo meeting">
            {% endif %}
            <p>
            <h3><span class="badge badge-primary">{{ object.price|floatformat:2 }} euros/pers</span></h3>
            </p>
        </div>
        <div class="col-12 col-lg-8">
            <h3>{{ object.place.name }}</h3>
            <p>
                <span id="event_adresss">{{ object.place.street }}, {{ object.place.postal_code }}, {{ object.place.city|capfirst }}</span>
                <br>
                {{ object.place.space_available }} places environs
            </p>

            <div id="googleMap" class="map_canvas mb-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="pills-fiche-evenement-tab"
                       data-toggle="pill" href="#pills-fiche-evenement"
                       role="tab"
                       aria-controls="pills-fiche-evenement"
                       aria-selected="true">Fiche événement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-date-tarifs-tab"
                       data-toggle="pill" href="#pills-date-tarifs" role="tab"
                       aria-controls="pills-date-tarifs" aria-selected="false">Dates</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show  active"
                     id="pills-fiche-evenement"
                     role="tabpanel"
                     aria-labelledby="pills-fiche-evenement-tab">
                    <h3>{{ object.title }}</h3>
                    {% for note in object.notes.all %}
                        {% if forloop.first %}
                            <p><b>{{ note }}</b></p>
                        {% else %}
                            <p>{{ note }}</p>
                        {% endif %}
                    {% endfor %}
                    {% if object.directors.all %}
                        <b>Metteur en scène
                            :</b> {{ object.directors.all|join:", " }} <br>
                    {% endif %}
                    {% if object.authors.all %}
                        <b>Auteur :</b> {{ object.authors.all|join:", " }} <br>
                    {% endif %}
                    {% if object.artists.all %}
                        <b>Artistes :</b> {{ object.artists.all|join:", " }}
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="pills-date-tarifs"
                     role="tabpanel"
                     aria-labelledby="pills-date-tarifs-tab">
                    {% if calendars %}
                        {% for month, calendar in calendars.items %}
                            <table class="table table-bordered reservation">
                                <caption>{{ month|date:"F Y"|capfirst }}</caption>
                                <thead>
                                <tr>
                                    <th>Lundi</th>
                                    <th>Mardi</th>
                                    <th>Mercredi</th>
                                    <th>Jeudi</th>
                                    <th>Vendredi</th>
                                    <th>Samedi</th>
                                    <th>Dimanche</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in calendar %}
                                    <tr>
                                        {% for day, items in row %}
                                            <td>
                                                {% if day %}
                                                    <div class="day-ordinal">
                                                        {{ day }}
                                                    </div>
                                                    {% if items %}
                                                        <ul>
                                                            {% for o, key_space_residue in items %}
                                                                <li>
                                                                    <button-cart title="{{ object.title }}"
                                                                                 date="{{ o|date:"d/m/Y H:i" }}"
                                                                                 :id="{{ object.id }}"
                                                                                 :price="{{ object.price|float_to_str_to_point }}"
                                                                                 :inventory="{{ space_available|get_obj_attr:key_space_residue }}">
                                                                        {{ o|date:"H:i" }}
                                                                    </button-cart>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    {% else %}
                        <p>Pas de prestation.</p>
                    {% endif %}
                </div>
            </div>
            <span id="comments_" data-url-comments="{% url 'catalogue:show-meetingcomments' object.pk %}"></span>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABktea4rFaWShQm7F25YWXgAuv9f-nFvk"
    ></script>
    <script>
        jQuery(function ($) {
            class RenderMap {
                constructor(adress) {
                    this.adress = adress;
                    this.getLatLngFromAdress();
                }

                getLatLngFromAdress() {
                    let me = this;
                    $.get("https://maps.googleapis.com/maps/api/geocode/json",
                        {
                            address: this.adress,
                            key: "AIzaSyABktea4rFaWShQm7F25YWXgAuv9f-nFvk",
                            language: "fr",
                            components: "country:FR"
                        }, function (data) {
                            try {
                                me.init(data);
                            } catch (e) {
                                alert(data.status + " " + data.error_message)
                            }
                        }, "json");
                }

                init(data) {
                    let results = data.results[0];

                    let _location = new google.maps.LatLng(results.geometry.location.lat,
                        results.geometry.location.lng);

                    let _location_northeast = new google.maps.LatLng(results.geometry.viewport.northeast.lat,
                        results.geometry.viewport.northeast.lng);

                    let _location_southwest = new google.maps.LatLng(results.geometry.viewport.southwest.lat,
                        results.geometry.viewport.southwest.lng);

                    let map = new google.maps.Map(document.getElementById("googleMap"), {
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                    });

                    let marker = new google.maps.Marker({
                        position: _location,
                        map: map
                    });

                    let bounds = new google.maps.LatLngBounds();
                    bounds.extend(_location_northeast);
                    bounds.extend(_location_southwest);
                    map.fitBounds(bounds);
                }
            }

            new RenderMap($('#event_adresss').text());

            $.get($('#comments_').attr("data-url-comments"), function (data, status) {
                $('#comments_').html(data);
            });
        });
    </script>
{% endblock %}
